$cd-primary: #011c37;
$cd-secondary: #15DEA5;

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin: 40px;
}

.btn_1{
    background: $cd-primary;
    color: $cd-secondary;
    font-size: 3rem;
    cursor: pointer;
    padding: 1.85rem 3rem;
    border-radius: 10rem;
    transition: transform 400ms;
    &:hover{
        transform: scale(1.15);
    }
}

$cd-txt-2: #6300a0;
$cd-box: #fff;
$cd-txt--invalid: #fff;
$cd-danger: #b20a37;

.container_2{
    background-color: rgb(237, 246, 247);
}

.form{
    &__group{
        color: $cd-txt-2;
        font-family: 'Montserrat', sans-serif;
        & input{
            border: 2px solid $cd-box;
            border-radius: 100rem;
            font-size: 2.5rem;
            outline: none;
            padding: .5rem 1.5rem;
            width: 100%;
            transition: background-color 500ms;
            &:focus{
                border: 2px solid $cd-txt-2;
            }
            &:not(:focus):invalid{
                background: $cd-danger;
                border: 2px solid $cd-danger;
                color: $cd-txt--invalid;
            }
        }
    }
}

$ball-size: 300px;

.btn_2{
    background: $cd-primary;
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
    padding: 1.85rem 3rem;
    border-radius: 10rem;
    &:active + .ball{
        transform: scale(1.0);
    }
}

.ball{
    width: $ball-size;
    height: $ball-size;
    background: $cd-secondary;
    margin-bottom: 1rem;
    border-radius: $ball-size * 0.5;
    transform: scale(0.1);
    transition: transform 4000ms;
}

$cd-btn-start: rgba(1, 28, 55, 0);
$cd-btn-end: rgba(1, 28, 55, 1);

.btn_3{
    background-color: $cd-btn-start;
    border: 4px solid $cd-primary;
    color: $cd-secondary;
    border-radius: 10rem;
    cursor: pointer;
    font-size: 3rem;
    padding: 1.85rem 3rem;
    position: relative;
    /*transition: all 450ms;*/
    transition: transform 450ms, background-color 300ms 150ms;
    &:hover{
        transform: scale(1.15);
        background-color: $cd-btn-end;
    }
}