@charset "UTF-8";
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin: 40px;
}

.btn_1 {
  background: #011c37;
  color: #15DEA5;
  font-size: 3rem;
  cursor: pointer;
  padding: 1.85rem 3rem;
  border-radius: 10rem;
  transition: transform 400ms;
}
.btn_1:hover {
  transform: scale(1.15);
}

.container_2 {
  background-color: rgb(237, 246, 247);
}

.form__group {
  color: #6300a0;
  font-family: "Montserrat", sans-serif;
}
.form__group input {
  border: 2px solid #fff;
  border-radius: 100rem;
  font-size: 2.5rem;
  outline: none;
  padding: 0.5rem 1.5rem;
  width: 100%;
  transition: background-color 500ms;
}
.form__group input:focus {
  border: 2px solid #6300a0;
}
.form__group input:not(:focus):invalid {
  background: #b20a37;
  border: 2px solid #b20a37;
  color: #fff;
}

.btn_2 {
  background: #011c37;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
  padding: 1.85rem 3rem;
  border-radius: 10rem;
}
.btn_2:active + .ball {
  transform: scale(1);
}

.ball {
  width: 300px;
  height: 300px;
  background: #15DEA5;
  margin-bottom: 1rem;
  border-radius: 150px;
  transform: scale(0.1);
  transition: transform 4000ms;
}

.btn_3 {
  background-color: rgba(1, 28, 55, 0);
  border: 4px solid #011c37;
  color: #15DEA5;
  border-radius: 10rem;
  cursor: pointer;
  font-size: 3rem;
  padding: 1.85rem 3rem;
  position: relative;
  /*transition: all 450ms;*/
  transition: transform 450ms, background-color 300ms 150ms;
}
.btn_3:hover {
  transform: scale(1.15);
  background-color: rgb(1, 28, 55);
}

.btn_4 {
  background: red;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  padding: 1.85rem 3rem;
}
.btn_4:hover + .box {
  transform: scale(3, 1.5); /*(positionX, position Y)*/
}

.box {
  width: 150px;
  height: 150px;
  background: #15DEA5;
  margin-bottom: 3rem;
  margin-top: 3rem;
  transition: transform 330ms ease-in-out;
}

.btn_5 {
  background: red;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  padding: 1.85rem 3rem;
}
.btn_5:hover + .box_2 {
  transform: scaleX(2.5);
}

.box_2 {
  width: 150px;
  height: 150px;
  background: #15DEA5;
  margin-bottom: 3rem;
  margin-top: 3rem;
  transition: transform 330ms ease-in-out;
}

.btn_6 {
  background: red;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  padding: 1.85rem 3rem;
}
.btn_6:hover + .box_3 {
  transform: translate(100%, 0);
}

.box_3 {
  width: 150px;
  height: 150px;
  background: #15DEA5;
  margin-bottom: 3rem;
  margin-top: 3rem;
  transition: transform 330ms ease-in-out;
}

.btn_7 {
  background: red;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  padding: 1.85rem 3rem;
}
.btn_7:hover + .box_4 {
  transform: scale(1);
}
.btn_7:hover + .box_4 span {
  transform: translateY(0);
}

.box_4 {
  width: 150px;
  height: 150px;
  background: #15DEA5;
  margin-bottom: 3rem;
  margin-top: 3rem;
  transform: scale(0.1);
  transition: transform 330ms ease-in-out;
  overflow: hidden;
}
.box_4 span {
  display: inline-block;
  transform: translateY(250%);
  transition: transform 280ms ease-out 50ms;
}

.btn_8 {
  background: red;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  padding: 1.85rem 3rem;
}
.btn_8:hover + .boxes > .boxes--rotDegrees {
  transform: rotate(0deg);
}
.btn_8:hover + .boxes > .boxes--rotTurns {
  transform: rotate(0turn);
}

.boxes__base {
  width: 150px;
  height: 150px;
  background: #15DEA5;
  margin-bottom: 3rem;
  margin-top: 3rem;
  transition: transform 330ms ease-in-out;
}
.boxes--rotDegrees {
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
}
.boxes--rotTurns {
  background: pink;
  transform: rotate(-1turn);
  transition: transform 500ms ease-in-out;
}

.btn_9 {
  background: red;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  padding: 1.85rem 3rem;
}
.btn_9:hover + .box_5 {
  transform: scale(1) rotate(0deg);
}
.btn_9:hover + .box_5 span {
  transform: translateY(0);
}

.box_5 {
  width: 150px;
  height: 150px;
  background: #15DEA5;
  margin-bottom: 3rem;
  margin-top: 3rem;
  transform: scale(0.1) rotate(-90deg);
  transition: transform 330ms ease-in-out;
  overflow: hidden;
}
.box_5 span {
  display: block;
  transform: translateY(250%);
  transition: transform 280ms ease-out 50ms;
}

/* pencher un elem avec skew(), déplacement en 3D avec perpective(valeurs en px) rotate(valeurs)*/
.btn_10 {
  background: #011c37;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  padding: 1.15rem 1.5rem;
  border-radius: 10rem;
  text-align: center;
}
.btn_10:active + .progress > .progress__bar {
  transform: scaleX(1);
}

.progress {
  width: 500px;
  height: 25px;
  border: 3px solid black;
  margin-top: 15px;
}
.progress__bar {
  background-color: #15DEA5;
  width: 500px;
  height: 25px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
}

.progress {
  width: 500px;
  height: 25px;
  border: 3px solid black;
  margin-top: 15px;
  margin-bottom: 500px;
}
.progress__bar2 {
  background-color: red;
  opacity: 0;
  width: 500px;
  height: 25px;
  transform-origin: left;
  transform: scaleX(0.5);
  animation: progress-bar 1000ms 1000ms both;
}

@keyframes progress-bar {
  0% {
    transform: scaleX(0);
    opacity: 0.1;
  }
  17% {
    transform: scaleX(0.18);
  }
  24% {
    transform: scaleX(0.4);
    animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
  }
  46% {
    transform: scaleX(0.81);
    animation-timing-function: cubic-bezier(0.25, 0.25, 1);
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}
.cat {
  width: 50vw;
  height: 30vw;
  position: absolute;
  overflow: hidden;
  background-image: url("https://bit.ly/2XJJLKn");
  background-size: cover;
  background-position: -20%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem;
  font-size: 4vw;
  font-weight: 900;
  color: white;
  animation: cat 1000ms 3000ms both;
}

@keyframes cat {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=style.css.map */
